/**
  * @name Frosty
  * @description A theme based heavily on Frosted Glass Rewrite with my own changes (https://github.com/Altenhh/Altens-betterdiscord-Themes-Plugins)
  * @author fooooooooooooooo
  * @version 1.1.2
  * @source
  */

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #36393f00;
    --background-secondary: #2f313600;
    --background-tertiary: #20222500;
    --background-accent: #0062ff00;
    --background-floating: #0040ff00;
    --background-modifier-hover: rgba(79, 84, 92, 0.16);
    --background-modifier-active: rgba(79, 84, 92, 0.24);
    --background-modifier-selected: rgba(79, 84, 92, 0.32);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
    --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: #40444b00;
    --activity-card-background: #20222500;
    --deprecated-panel-background: #292b2f00;
    --deprecated-card-bg: rgba(32, 34, 37, 0);
    --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
    --deprecated-store-bg: #36393f00;
    --deprecated-quickswitcher-input-background: #72767d00;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #04040500;
    --deprecated-text-input-border-disabled: #20222500;
    --deprecated-text-input-prefix: #dcddde;
}

#app-mount {
    border: none !important;
    background-color: #000;
    background-image: var(--imageNonBlurred);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#app-mount,
.chat-3bRxxu,
.messagesWrapper-3lZDfY {
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px !important;
    font-family: "Whitney";
    font-weight: 500 !important;
}

/* Blurry */
.da-innerNoAutocomplete,
.da-userPopout,
.da-footer,
.da-contextMenu,
.da-quickMessage,
.da-input,
.da-card,
.da-switch,
.da-select,
.da-size,
.da-menu,
.da-themedPopout,
.da-messageGroupWrapper,
.da-recentMentionsPopout,
.da-option,
.da-autocompleteRow,
.da-tabBarContainer,
.bd-modal-body,
.footer,
.header,
.inline,
.btn,
.btn-primary,
.da-searchFilter,
.header-ykumBX,
.da-userPopout .da-scrollerWrap,
.da-popouts .da-popout,
.da-topSectionNormal .da-header,
.da-topSectionNormal .da-activity {
    border: none !important;
    background-image: var(--imageBlurred);
    background-color: transparent;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.da-popouts .da-popout {
    background-image: var(--imageBlurred) !important;
    background-position-x: center !important;
    background-size: 100vw, 100vh !important;
    background-attachment: fixed !important;
}

/* Bottom Border */

.da-userPopout .da-scrollerWrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

/* No border */
.da-layerContainer {
    border: none !important;
}

/* Buttons */

.da-jumpButton {
    background: rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1) !important;
}

/* Embed Blur */

.da-embedWrapper,
code,
.da-connection {

    background-image: var(--imageBlurred);
    background-color: transparent;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    border-radius: 4px;
}


/* Hover blur */

.content-3at_AU:hover,
.da-collapsed:hover,
.da-clickable:hover,
.da-search,
.da-item:hover,
.da-name:hover,
.da-unfollowButton:hover {
    border: none;
    background-image: var(--imageBlurred);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 4px;
}

/* Clear */
.da-standardSidebarView,
.da-searchResult,
.da-hit,
.da-sibling,
.da-channelSeparator,
.da-channelName,
.da-searchHeader,
.da-game,
.da-friendsTable,
.da-uploadModal,
.da-autocompleteInner,
.da-videoBackground,
.da-unfollowButton,
.da-container,
.modal-yWgWj-,
.da-searchResultsWrap,
.da-messagesPopoutWrap .scroller-2FKFPG,
.da-modal .da-inner .da-flex .da-body {
    border: none !important;
    box-shadow: none !important;
    background-image: var(--imageNonBlurred);
    background-color: transparent;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}


/* Transparent */
.da-name,
.da-dividerContent,
.da-container,
.da-clickable,
.da-videoBottom,
.da-videoTop,
.da-iconsWrapper,
.da-videoCenter,
.da-resultsWrapper,
.da-actionButtons,
.da-userPopout .da-scrollerWrap .da-bodyInner,
.da-resultsGroup .da-option,
.da-container,
.da-nameAndDecorators {
    background-color: transparent !important;
    background-image: none;
    background: transparent;
    box-shadow: none !important;
}

/* Remove fade in message search results */
.da-searchResult::before,
.da-searchResult::after,
.da-option::before,
.da-option::after {
    background-image: none !important;
}

.da-positionedContainer,
.da-unreadBottom {
    display: none;
}

/* Scrollbars */
::-webkit-scrollbar-button {
    background: transparent !important;
    border: none !important
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1) !important;
    border: none !important
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.01) !important;
    border: none !important
}

::-webkit-scrollbar-track-piece {
    background: transparent !important;
    border: none !important;
}

::-webkit-scrollbar-corner {
    background: transparent !important;
    border: none !important
}

/* Blurry darker */

.sidebar-2K8pFh,
.da-guilds,
.da-sidebarRegion,
.container-2Rl01u,
.da-userPopout .da-header,
.da-channelTextArea .da-inner,
.da-topSectionNormal .da-tabBarContainer,
.guilds-1SWlCJ,
.da-embedHorizontal .da-description,
.da-embedHorizontal .da-mediaHorizontal {
    background-image: var(--imageBlurredDarker) !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

/* Fix gap in titlebar because left panel can't reach there */

.titleBar-AC4pGV::after {
    background-image: var(--imageBlurredDarker) !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    content: "";
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    right: 0;
    width: 312px;
    height: 22px;
}


/* Switches */
.valueUnchecked-2lU_20,
.ui-switch,
.da-numberBadge {
    background: var(--offColor) !important;
}

.valueChecked-m-4IJZ,
.checked {
    background: var(--onColor) !important;
}

/* Css customizer */

#bd-customcss-editor,
#bd-customcss-attach-controls {
    border-radius: 4px;
    background-image: var(--imageBlurred) !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

#bd-customcss-attach-controls {
    margin-top: 50px;
}

.ace_gutter-layer {
    background-image: var(--imageBlurred) !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    border-right: 4px solid rgba(0, 0, 0, 0.2) !important;
}

.ace_content,
.ace_line {
    background-image: var(--imageBlurred) !important;
    background-color: transparent !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.ace_cursor-layer {
    background-color: transparent !important;
    background: transparent !important;
}



/* Variables */
:root {
    --imageNonBlurred: url(https://i.imgur.com/04GKOra.jpg);
    --imageBlurred: url(https://i.imgur.com/dgBOlGy.jpg);
    --imageBlurredDarker: url(https://i.imgur.com/eT5m6pv.png);
    --offColor: rgb(230, 50, 50) !important;
    --onColor: rgb(50, 190, 50) !important;
}
